*.docx
CAS 100C/
ECON 102/
IST 210/
IST 220/
PHY 211/
SRA 211/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/JAVA/IST 261/InvestmentViewerMVCFixMe/nbproject/private/
/JAVA/IST 261/StudentViewerFixMe/nbproject/private/
/JAVA/IST 261/SumCalculatorFixMe/nbproject/private/
/JAVA/IST 261/Deliverable1/nbproject/private/
